* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #A52A2A;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    top: 1px;
    height: 50px;
    width: 50px;
}

.header-container {
    display: flex;
    height: 80px;
    margin: 0;
}

.header-image {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.image-caption {
    margin-left: 40px;
    margin-top: 30px;
    font-style: italic;
    font-size: 20px;
    color: rgb(255 155 60);
}

.container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.image-container {
   position: relative;
   margin: 50px;
   width: 300px;
   height: 300px;
   opacity: 1;
   box-shadow: 16px 16px 16px 14px rgb(128 0 0 / 50%);
}

.image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    bottom: 0;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    background: #A52A2A;
    text-decoration: none;
    color: rgb(255 155 60);
    font-style: italic;
    width: 80%;
    margin-left: 20px;
    padding: 5px;
}

footer {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    font-style: italic;
    color: rgb(255 155 60);
}

.link {
    text-decoration: none;
    font-style: italic;
    color: rgb(255 155 60);
}