.box {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s background-color, 2s transform, 2s border-radius;
}

.box:hover {
    background: blue;
    border-radius: 20px;
    transform: translate3d(50%, 50%, 0) rotate(90deg);
}

.button {
    position: relative;
    top: 0;
    left: 0;
    transition: 10s left, 10s top;
}

.button:focus {
    outline: none;
    background: red;
    left: 400px;
    top: 400px;
}

.link {
    color: red;
}

.link:visited {
    color: orange;
}